{% extends "base.html" %}

{% block titre %}

Elèves <a href="{{ url_for('eleve.add_eleve') }}" class="btn btn-sm btn-outline-secondary">Ajouter</a>
{% endblock titre %}

{% block content %}

{% for eleve in eleves %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">

                    


                    <label for="eleve">{{eleve|format_eleve}}</label>
               </div>
               <div class="col-4">
                
                <a id ="eleve" href="{{url_for('note.notes',id = eleve.id)}}" class="btn btn-sm btn-outline-secondary">  Evaluations </a>
                <a href="{{ url_for('note.evaluationpdf',id=eleve.id) }}" class="btn btn-sm btn-outline-secondary">Bulletin</a>    
                <a href="{{ url_for('eleve.update_eleve',id=eleve.id) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>   
                  </div>

            </div>



        </div>
      </div>         

    {% endfor %}

{% endblock content %}



