{% extends "base.html" %}

{% block titre %}
Modifier élève
<a href="{{ url_for('eleve.delete_eleve',id=eleve.id) }}" class="btn btn-sm btn-outline-secondary">Supprimer</a>
{% endblock titre %}

{% block content %}

<form method="POST" action="{{ url_for('eleve.update_eleve',id=eleve.id) }}" class="card p-2 col-4 container-fluid">
  <div class="form-group">
    {{form.nom.label}}
    {{form.nom(class="form-control")}}
    {{form.prenom.label}}
    {{form.prenom(class="form-control")}}
  </div>
  <div class="form-group">
    {{form.id_liste.label}}
    {{form.id_liste(class="form-control")}}
    {{form.id_classe.label}}
    {{form.id_classe(class="form-control")}}
  </div>
  {{form.submit(class="btn btn-primary  mt-2")}}  
  
    </form>

{% endblock content %}