{% from 'helpers/filtre.html' import filtre_liste with context %}
{% extends "base.html" %}


{% block titre %}
 
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('note.notes', page=eleves.prev_num) }}"
       class="btn btn-outline-dark 
       {% if eleves.page == 1 %}disabled{% endif %}">
        &laquo;
    </a><!-- Loop through the number of pages to display a link for each-->
    {% for page_num in eleves.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if eleves.page == page_num %}
            <a href="{{ url_for('note.notes', page=page_num) }}" class="btn btn-dark">{{ page_num }}</a>
            {% else %}
            <a href="{{ url_for('note.notes', page=page_num) }}" class="btn btn-outline-dark">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}    
    <a href="{{ url_for('note.notes', page=eleves.next_num) }}" class="btn btn-outline-dark 
       {% if eleves.page == eleves.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
{% endblock titre %}

{% block filtre %}


{{filtre_liste('note.notes',liste_selected ,page=eleves.page,id=id)}}

{% endblock filtre %}

{% block content %}

{% if eleves.items|length==0 %}
Pas d'élève séléctionné

{%else%}

<h3>
Evaluations : {{ eleves.items[0]|format_eleve}} <a href="{{ url_for('note.evaluationpdf',id=eleves.items[0].id) }}" class="btn btn-sm btn-outline-secondary">Bulletin</a>   
</h3>


<form id="myform" action="{{ url_for('note.update_note',id= eleves.items[0].id,page=eleves.page) }}">

  <!-- les deux hidden tag permettent de connaître le champ modifié-->
{{form.id_change(type="hidden",id="id_change")}}
{{form.name_change(type="hidden",id="name_change")}}


<table class="table">
    <thead>
      <tr>
        <th scope="col">Liste</th>
        <th scope="col">Item</th>
        <th scope="col">Niveau 1</th>
        <th scope="col">Niveau 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for item,note in zip(items,form.notes) %}
        <th scope="row">{{ item.liste.nom }}</th>
        <th scope="row">{{ item.nom }}</th>
        <td>   
            {{note.note_1(onchange="myFunction(this)",id=item.id,class='form-control')}}
        </td>

        <td>    
          {{note.note_2(onchange="myFunction(this)",id=item.id,class='form-control')}}
          </select></td>
      </tr>
      {% endfor %}       
    </tbody>


</form>
{%endif%}

<script>
function myFunction(el){
document.getElementById("id_change").value = el.id;
document.getElementById("name_change").value = el.name;
document.getElementById("myform").submit()
}

</script>

{% endblock content %}