{% extends "base.html" %}

{% block titre %}
Elèves
{% endblock titre %}

{% block content %}

{% for eleve in Dict_eleves %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <label for="eleve">{{ eleve.nom }} {{ eleve.prenom }} {{ eleve.classe }}</label>
               </div>
               <div class="col-4">
                <a id ="eleve" href="{{url_for('note',id = eleve.id)}}" class="btn btn-sm btn-outline-secondary">  Evaluations </a>
                <a href="{{ url_for('evaluationpdf',id=eleve.id) }}" class="btn btn-sm btn-outline-secondary">Bulletin</a>      
                  </div>

            </div>



        </div>
      </div>         

    {% endfor %}

{% endblock content %}



