<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">
            <span data-feather="home"></span>
            Home
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('eleve.eleves')}}">
            <span data-feather="users"></span>
            Elèves
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('note.notes')}}">
            <span data-feather="bar-chart-2"></span>
            Evaluations
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('items')}}">
            <span data-feather="layers"></span>
            Items
          </a>
        </li>
      </ul>

      
    </div>
  </nav>