{% extends "base.html" %}


{% block titre %}
Evaluations : {{ Dict_eleve.prenom }} {{Dict_eleve.nom}}.
{% endblock titre %}




{% block content %}

<form action="{{ url_for('update_note',id= Dict_eleve.id) }}">
<!--
  <div class="row">
    <div class="col">
      <h1>{{ Dict_eleve.prenom }} </h1> 
   </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </div>
-->

<table class="table">
    <thead>
      <tr>
        <th scope="col">Liste</th>
        <th scope="col">Item</th>
        <th scope="col">Niveau 1</th>
        <th scope="col">Niveau 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for chapitre in Liste_chapitre %}
        <th scope="row">{{ chapitre.liste.nom }}</th>
        <th scope="row">{{ chapitre.nom }}</th>
        <td>    
            <select onchange="this.form.submit()" name='{{ chapitre.id ~ "A" }}' ng-model='discussionsSelect' class='form-control'>
            {% for option in options %}
            {% if selected_value[chapitre.id~"A"] == option.value %}
            <option value= "{{ option.value }}" selected> {{ option.texte }} </option>
            {% else %}
            <option  value= "{{ option.value }}"> {{ option.texte }} </option>
            {% endif %}
            {% endfor %}
          </select></td>
        <td>    <select onchange="this.form.submit()" name='{{ chapitre.id ~ "B" }}' ng-model='discussionsSelect' class='form-control'>
          {% for option in options %}
          {% if selected_value[chapitre.id~"B"] == option.value %}
          <option value= "{{ option.value }}" selected> {{ option.texte }} </option>
          {% else %}
          <option  value= "{{ option.value }}"> {{ option.texte }} </option>
          {% endif %}
          {% endfor %}
          </select></td>
      </tr>
      {% endfor %}       
    </tbody>


</form>
{% endblock content %}