{% extends "base.html" %}


{% block titre %}

  Evaluations : {{ eleve.prenom }} {{eleve.nom}}.
    {% endblock titre %}
    class=
{% block filtre %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Filtre Liste
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{{ url_for('note',id= eleve.id,liste=1)}}">A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('note',id=eleve.id,liste=2)}}">B</a></li>
    <li><a class="dropdown-item" href="{{ url_for('note',id=eleve.id,liste=3)}}">C</a></li>
    <li><a class="dropdown-item" href="{{ url_for('note',id=eleve.id)}}">Supprimer filtre</a></li>
  </ul>
</div>
{% endblock filtre %}






{% block content %}



<form id="myform" action="{{ url_for('update_note',id= eleve.id) }}">

  <input type="hidden" value="" id="id_change" name="id_change"/>

 


<table class="table">
    <thead>
      <tr>
        <th scope="col">Liste</th>
        <th scope="col">Item</th>
        <th scope="col">Niveau 1</th>
        <th scope="col">Niveau 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for item in items %}
        <th scope="row">{{ item.liste.nom }}</th>
        <th scope="row">{{ item.nom }}</th>
        <td>    
            <select onchange="myFunction(this)" id='{{ item.id ~ "A" }}' name='{{ item.id ~ "A" }}' ng-model='discussionsSelect' class='form-control'>
            {% for option in options %}
            {% if selected_value[item.id~"A"] == option.value %}
            <option value= "{{ option.value }}" selected> {{ option.texte }} </option>
            {% else %}
            <option  value= "{{ option.value }}"> {{ option.texte }} </option>
            {% endif %}
            {% endfor %}
          </select></td>
        <td>    <select onchange="myFunction(this)" id='{{ item.id ~ "B" }}' name='{{ item.id ~ "B" }}' ng-model='discussionsSelect' class='form-control'>
          {% for option in options %}
          {% if selected_value[item.id~"B"] == option.value %}
          <option value= "{{ option.value }}" selected> {{ option.texte }} </option>
          {% else %}
          <option  value= "{{ option.value }}"> {{ option.texte }} </option>
          {% endif %}
          {% endfor %}
          </select></td>
      </tr>
      {% endfor %}       
    </tbody>


</form>

<script>

function myFunction(el){
document.getElementById("id_change").value = el.id;
document.getElementById("myform").submit()
}

</script>

{% endblock content %}